<!-- Header -->

<div class="header particles">
    <div class="container instaFade">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <span class="name">...oops!</span>
            <span class="description">
                <p>Either you broke my website, or I did.</p>
                <p>If you think it was me, please <a style="cursor: pointer" onclick="$('.formbutton').click();">let me know.</a></p>
                <p>If you think it was you, try a different page.</p>
            </span>
          </div>
        </div>
      </div>
      {% include nav.html %}
      {% include typewrite.html %}
    </div>
  </div>