<!-- JQuery -->
<script src="{{ 'js/jquery-1.11.0.js' | relative_url }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ 'js/bootstrap.min.js' | relative_url }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ 'js/jquery.easing.min.js' | relative_url }}"></script>
<script src="{{ 'js/classie.js' | relative_url }}"></script>
<script src="{{ 'js/cbpAnimatedHeader.js' | relative_url }}"></script>

<script src="{{ 'js/freelancer.js' | relative_url }}"></script>

<!-- Particleground -->
<script src="{{ '/js/jquery.particleground.min.js' | relative_url }}"></script>
